In [1]:
import pandas as pd
import numpy as np
import numpy.random as nr

# Data Preparation

In [2]:
# load example data
raw = pd.read_csv("example.csv", index_col=0)

# some column and index shuffleing
raw["ENTITY"] = raw.index
raw.index = raw.index.map(str) +"_"+ raw["TIME"].map(str)
raw.rename(columns={"TIME.1":"TIME"})
del raw.index.name

In [3]:
raw1 = raw[raw.DATASET == 1][::]
raw2 = raw[raw.DATASET == 2][::]
raw3 = raw[raw.DATASET == 3][::]

datasets = [raw1, raw2, raw3]

# normally distributed features
means1 = [10, 12, 16]
stds1 = [3, 3, 2]

means2 = [10, 10, 10]
stds2 = [1, 1, 1]

means3 = [10, 20, 30]
stds3 = [3, 3, 2]

means4 = [20, 21, 20]
stds4 = [4, 5, 4]

# chi square features
degs = [2,3,4]

# categorical features
vals1 = ["a", "b", "c"]
probs1 = [[0.2, 0.7, 0.1], [0.3, 0.3, 0.4], [0.8, 0.1, 0.1]]

vals2 = [1, 2, 3]

# batch effects
batches1 = [0, 0, 5]
b_means1 = [20, 20, 20]
b_stds1 = [2, 1, 1]

batches2 = [0, 0, 2]
b_means2 = [20, 20, 20]
b_stds2 = [1, 1, 1]

#longitudinal
long_m = [[10, 12, 15, 17, 19, 22, 25, 27, 29, 33], 
         [12, 12, 16, 19, 23, 19, 28, 30, 31, 33],
         [10, 12, 14, 16, 18, 20, 22, 24, 26, 28]]
long_s = [[2.1, 1.3, 1, 1.5, 1.7, 2, 2.5, 3, 3, 3.3],
         [2.2, 1.3, 1, 1.5, 1.7, 2, 2.5, 3, 3, 3.3],
         [2.1, 1.3, 1, 1.5, 1.7, 2, 2.5, 3, 3, 3.3]]

# Generate normally distributed features

In [4]:
def fill_nd_feats(feat, datasets, means, stds):
    for df, mean, std in zip(datasets, means, stds):
        df[feat] = nr.normal(mean, std, size=len(df))
        
fill_nd_feats("NDSIG1", datasets, means1, stds1)
fill_nd_feats("NDSIG2", datasets, means3, stds3)
fill_nd_feats("NDNON1", datasets, means2, stds2)
fill_nd_feats("NDNON2", datasets, means4, stds4)

# Chi² feats

In [5]:
def fill_chi_feats(feat, datasets, degs):
    for df, deg in zip(datasets, degs):
        df[feat] = nr.chisquare(deg, size=len(df))

fill_chi_feats("CHIFEAT", datasets, degs)

# Categorical feats

In [6]:
def fill_cat_feats(feat, datasets, vals, probs=None):
    if probs:
        for df, prob in zip(datasets, probs):
            df[feat] = nr.choice(vals, p=prob, size=len(df))
    else:
        for df in datasets:
            df[feat] = nr.choice(vals, size=len(df))
        
fill_cat_feats("CATSIG1", datasets, vals1, probs1)
fill_cat_feats("CATNON2", datasets, vals2)

# Batch

In [7]:
def fill_batch_feats(feat, datasets, means, stds, batches):
    for df, mean, std, batch in zip(datasets, means, stds, batches):
        df[feat] = nr.normal(mean, std, size=len(df))
        # add batch effect
        df[feat] = df[feat] + batch

fill_batch_feats("BATCH1", datasets, b_means1, b_stds1, batches1)
fill_batch_feats("BATCH2", datasets, b_means2, b_stds2, batches2)

# Longitudinal

In [8]:
def fill_long_feat(feat, datasets, time, means, stds):
    
    times = datasets[0][time].unique()
    
    for df, mean, std in zip(datasets, means, stds):

        for t, m, s in zip(times, mean, std):
            inds = df[df[time]==t].index
            n_vals = nr.normal(m, s, size=len(inds))
            df.loc[inds, feat] = n_vals
            

fill_long_feat("LONG1", datasets, "TIME", long_m, long_s)

# NAN Features

In [9]:
fill_nd_feats("NAN1", datasets, means1, stds1)
datasets[0]["NAN1"] = np.nan

# Combine

In [10]:
data = pd.concat(datasets)
data

,TIME,DATASET,FEAT1,ENTITY,NDSIG1,NDSIG2,NDNON1,NDNON2,CHIFEAT,CATSIG1,CATNON2,BATCH1,BATCH2,LONG1,NAN1
1_0,0,1,658,1,10.791988,6.444779,11.258263,15.183098,5.006881,b,2,23.398382,18.946908,9.140887,NaN
1_2,2,1,543,1,9.975609,8.586402,10.140096,25.805657,0.949981,b,3,21.389564,20.049130,9.374503,NaN
1_4,4,1,520,1,5.600375,5.497788,11.756352,23.043734,2.085709,a,3,17.509859,20.550166,14.612981,NaN
1_6,6,1,563,1,7.795047,13.760622,9.885872,22.001222,1.178162,b,3,20.220502,21.321849,16.578907,NaN
1_8,8,1,389,1,14.218476,5.949870,11.766515,23.805506,4.284354,b,2,20.551883,20.537604,21.116545,NaN
1_10,10,1,371,1,12.327310,11.155140,9.362746,20.427708,0.420687,b,1,20.622579,19.051853,25.730791,NaN
2_0,0,1,500,2,12.289954,4.485074,11.847872,15.726820,2.008265,b,2,22.232263,19.032939,8.896366,NaN
2_2,2,1,419,2,7.799325,10.049497,11.200782,14.796221,0.478334,c,1,20.915560,20.179123,11.812474,NaN
2_4,4,1,431,2,8.966209,9.052807,9.613307,17.884844,7.754755,b,2,20.148358,21.432536,14.995419,NaN
2_6,6,1,285,2,14.220876,12.193595,9.139438,15.905126,1.007549,a,3,23.371060,19.570196,16.840597,NaN
2_8,8,1,270,2,11.665554,13.453418,9.661696,23.558816,2.922735,b,3,20.302913,22.150797,19.392892,NaN
2_10,10,1,223,2,8.028937,9.052998,10.507663,16.540925,2.457507,a,3,20.276499,18.661628,22.819797,NaN
3_0,0,1,432,3,10.241466,13.901713,11.176037,21.885427,1.185214,b,1,18.539908,19.312448,14.371497,NaN
3_2,2,1,586,3,12.768730,8.475830,8.805818,22.528810,1.001859,b,2,17.604983,19.792502,11.744771,NaN
3_4,4,1,448,3,9.672554,7.313048,9.792311,20.879327,5.489493,b,2,17.118521,17.655537,15.883477,NaN
3_6,6,1,418,3,6.980446,6.849639,9.924680,18.072693,3.893616,b,2,19.445104,19.309221,18.163266,NaN
3_8,8,1,380,3,7.115370,9.915555,11.385768,17.186846,2.483376,a,1,20.167066,21.855348,19.031471,NaN
3_10,10,1,381,3,12.888012,14.038203,10.928084,25.927113,1.631250,b,2,18.488134,20.679810,20.344952,NaN
4_0,0,1,540,4,8.205431,8.173809,11.847812,23.636712,0.755811,b,3,21.283488,19.028088,8.786239,NaN
4_2,2,1,545,4,11.934691,8.586783,10.957181,12.958335,3.888005,c,1,19.307235,17.711444,10.838436,NaN
4_4,4,1,422,4,9.949231,4.608092,10.896632,23.062008,1.121579,b,1,18.728107,20.102537,14.094416,NaN
4_6,6,1,334,4,6.222050,15.651102,11.298733,15.448161,0.477433,a,3,21.133095,19.091535,16.441050,NaN
4_8,8,1,381,4,9.024845,7.336704,9.756305,21.940230,1.377739,a,1,20.941612,19.598376,20.243526,NaN
4_10,10,1,396,4,5.063650,8.002194,10.706389,11.440590,0.045348,b,1,19.050990,20.545087,19.110584,NaN
5_0,0,1,476,5,13.641675,14.949897,10.116507,20.973179,0.379325,b,3,19.244724,22.038695,10.084746,NaN
5_2,2,1,484,5,13.819896,11.157911,9.320875,18.107337,0.596597,b,3,20.273609,20.452364,11.614238,NaN
5_4,4,1,349,5,11.458067,11.654604,9.737273,9.854248,0.085740,b,2,17.719057,18.091163,15.713095,NaN
5_6,6,1,301,5,13.322536,8.323176,9.995954,18.251480,0.600004,b,2,19.105776,20.521245,13.895775,NaN
5_8,8,1,181,5,8.903223,11.844802,11.428803,21.121526,5.112690,b,3,21.962507,18.314854,17.886227,NaN
5_10,10,1,320,5,8.371660,7.464305,9.913547,18.534371,2.728229,a,1,23.585853,19.618625,20.737603,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109_0,0,3,595,109,12.603819,30.089225,9.579163,25.211722,0.737888,a,3,24.363684,23.095178,9.487626,19.408433
109_2,2,3,448,109,15.986174,29.034176,10.165379,17.383136,3.293024,a,3,27.191178,20.161474,12.330445,15.623008
109_4,4,3,297,109,16.859949,25.824690,10.951186,21.018314,3.430472,a,1,26.780574,21.088785,14.313615,16.412424
109_6,6,3,348,109,11.512640,29.873771,12.313657,10.944197,5.880745,a,1,25.440344,20.674373,18.094942,18.045922
109_8,8,3,487,109,19.296056,28.605178,8.730737,21.447618,5.277564,a,1,24.356048,21.729085,21.265718,15.093497
109_10,10,3,570,109,14.750282,30.782479,8.127279,19.206431,3.453588,b,3,25.512037,21.831913,19.893808,14.737383
110_0,0,3,410,110,14.732961,28.807000,9.489860,24.212027,8.581876,a,1,24.868808,21.934436,7.909053,16.729914
110_2,2,3,499,110,16.780404,31.466950,9.694479,19.754742,2.783362,a,2,25.589943,20.385614,12.576273,13.929568
110_4,4,3,507,110,15.675298,30.378941,10.032430,15.488774,1.998388,a,2,24.217577,20.813745,14.642052,17.085296
110_6,6,3,491,110,16.169242,31.728069,9.211648,16.478513,5.742773,b,2,24.566848,23.369094,12.442172,15.690491
110_8,8,3,478,110,19.064684,26.634927,9.452090,22.246379,1.230602,a,3,24.643421,21.376831,15.560474,18.217585
110_10,10,3,526,110,19.420575,32.756639,9.423430,24.277618,4.603545,a,2,25.207182,21.564772,20.640352,18.181842
111_0,0,3,388,111,17.106919,30.859688,9.653223,17.685026,3.472057,a,3,24.838573,22.312328,10.745186,16.189441
111_2,2,3,364,111,14.962723,29.064796,10.097629,24.961561,4.174122,c,2,25.934388,20.628276,13.216507,15.321306
111_4,4,3,392,111,15.693642,29.263562,10.824983,25.001695,2.288300,a,3,25.190129,20.513337,11.868338,18.678679
111_6,6,3,360,111,16.045790,32.334349,9.710355,17.870390,1.100823,c,2,26.253903,23.379308,15.010426,17.503866
111_8,8,3,341,111,17.426729,32.166772,10.463400,16.984606,3.264396,a,2,26.232006,20.736268,18.055024,19.481682
111_10,10,3,476,111,13.814088,28.129023,8.270951,16.211542,3.781240,a,3,23.568695,22.094075,17.447825,16.358233
112_0,0,3,464,112,13.291862,32.692679,9.596125,20.174395,9.314033,a,1,25.618533,22.109381,12.016217,15.246635
112_2,2,3,403,112,18.906926,27.155332,9.721904,17.780405,6.329156,a,3,23.370663,23.297092,10.242421,14.958704
112_4,4,3,428,112,15.650562,28.655851,10.914954,18.129881,0.859566,a,3,26.665068,22.575445,12.963155,14.348153
112_6,6,3,408,112,18.460960,29.624935,9.992216,28.501805,2.697422,a,2,24.545221,22.188187,15.371216,13.253217
112_8,8,3,426,112,15.933179,29.201656,9.096285,17.353503,4.090285,a,3,23.431919,21.178600,18.022323,15.829401
112_10,10,3,479,112,16.544664,28.269620,11.624450,24.999880,0.487361,a,1,25.675023,23.312481,18.236143,13.819381
113_0,0,3,523,113,13.946476,30.728356,8.851582,18.812741,5.977132,a,1,26.361535,23.800320,10.570905,18.970972
113_2,2,3,520,113,14.641376,30.434260,9.117181,12.824560,0.902213,b,2,25.091451,21.874427,13.226814,15.723662
113_4,4,3,432,113,14.888433,29.027503,10.692540,23.123887,3.118050,b,3,24.948128,19.973180,13.440071,14.850506
113_6,6,3,552,113,17.741362,29.077729,12.268020,27.334650,3.969552,a,3,25.635048,20.525419,17.270284,15.319176
113_8,8,3,640,113,17.615786,29.793594,9.588724,20.556198,6.411777,b,1,23.087575,21.835090,15.851797,17.166801
113_10,10,3,551,113,16.347847,28.214484,10.908098,23.576703,10.242224,a,1,24.418523,21.534271,22.803510,14.636419

In [11]:
pd.concat(datasets).to_csv("simulated.csv")