In [1]:
import pandas as pd
import numpy as np
import numpy.random as nr

# Data Preparation

In [2]:
# load example data
raw = pd.read_csv("example.csv", index_col=0)

# some column and index shuffleing
raw["ENTITY"] = raw.index
raw.index = raw.index.map(str) +"_"+ raw["TIME"].map(str)
raw.rename(columns={"TIME.1":"TIME"})
del raw.index.name

In [3]:
raw1 = raw[raw.DATASET == 1][::]
raw2 = raw[raw.DATASET == 2][::]
raw3 = raw[raw.DATASET == 3][::]

datasets = [raw1, raw2, raw3]

# normally distributed features
means1 = [10, 12, 16]
stds1 = [3, 3, 2]

means2 = [10, 10, 10]
stds2 = [1, 1, 1]

means3 = [10, 20, 30]
stds3 = [3, 3, 2]

means4 = [20, 21, 20]
stds4 = [4, 5, 4]

# chi square features
degs = [2,3,4]

# categorical features
vals1 = ["a", "b", "c"]
probs1 = [[0.2, 0.7, 0.1], [0.3, 0.3, 0.4], [0.8, 0.1, 0.1]]

vals2 = [1, 2, 3]

vals3 = [1, 2]

# batch effects
batches1 = [0, 0, 5]
b_means1 = [20, 20, 20]
b_stds1 = [2, 1, 1]

batches2 = [0, 0, 2]
b_means2 = [20, 20, 20]
b_stds2 = [1, 1, 1]

#longitudinal
long_m = [[10, 12, 15, 17, 19, 22, 25, 27, 29, 33], 
         [12, 12, 16, 19, 23, 19, 28, 30, 31, 33],
         [10, 12, 14, 16, 18, 20, 22, 24, 26, 28]]
long_s = [[2.1, 1.3, 1, 1.5, 1.7, 2, 2.5, 3, 3, 3.3],
         [2.2, 1.3, 1, 1.5, 1.7, 2, 2.5, 3, 3, 3.3],
         [2.1, 1.3, 1, 1.5, 1.7, 2, 2.5, 3, 3, 3.3]]

# Generate normally distributed features

In [4]:
def fill_nd_feats(feat, datasets, means, stds):
    for df, mean, std in zip(datasets, means, stds):
        df[feat] = nr.normal(mean, std, size=len(df))
        
fill_nd_feats("NDSIG1", datasets, means1, stds1)
fill_nd_feats("NDSIG2", datasets, means3, stds3)
fill_nd_feats("NDNON1", datasets, means2, stds2)
fill_nd_feats("NDNON2", datasets, means4, stds4)

# Chi² feats

In [5]:
def fill_chi_feats(feat, datasets, degs):
    for df, deg in zip(datasets, degs):
        df[feat] = nr.chisquare(deg, size=len(df))

fill_chi_feats("CHIFEAT", datasets, degs)

# Categorical feats

In [6]:
def fill_cat_feats(feat, datasets, vals, probs=None):
    if probs:
        for df, prob in zip(datasets, probs):
            df[feat] = nr.choice(vals, p=prob, size=len(df))
    else:
        for df in datasets:
            df[feat] = nr.choice(vals, size=len(df))
        
fill_cat_feats("CATSIG1", datasets, vals1, probs1)
fill_cat_feats("CATNON2", datasets, vals2)
fill_cat_feats("CATDICHO", datasets, vals3)

# Batch

In [7]:
def fill_batch_feats(feat, datasets, means, stds, batches):
    for df, mean, std, batch in zip(datasets, means, stds, batches):
        df[feat] = nr.normal(mean, std, size=len(df))
        # add batch effect
        df[feat] = df[feat] + batch

fill_batch_feats("BATCH1", datasets, b_means1, b_stds1, batches1)
fill_batch_feats("BATCH2", datasets, b_means2, b_stds2, batches2)

# Longitudinal

In [8]:
def fill_long_feat(feat, datasets, time, means, stds):
    
    times = datasets[0][time].unique()
    
    for df, mean, std in zip(datasets, means, stds):

        for t, m, s in zip(times, mean, std):
            inds = df[df[time]==t].index
            n_vals = nr.normal(m, s, size=len(inds))
            df.loc[inds, feat] = n_vals
            

fill_long_feat("LONG1", datasets, "TIME", long_m, long_s)

# NAN Features

In [9]:
fill_nd_feats("NAN1", datasets, means1, stds1)
datasets[0]["NAN1"] = np.nan

# Combine

In [10]:
data = pd.concat(datasets)
data

,TIME,DATASET,FEAT1,ENTITY,NDSIG1,NDSIG2,NDNON1,NDNON2,CHIFEAT,CATSIG1,CATNON2,CATDICHO,BATCH1,BATCH2,LONG1,NAN1
1_0,0,1,658,1,11.011468,12.558571,9.667827,26.718079,4.306700,a,3,1,18.940196,20.496291,12.006220,NaN
1_2,2,1,543,1,10.962827,9.385050,8.928369,28.082092,1.448887,b,2,2,23.084742,19.197574,11.737242,NaN
1_4,4,1,520,1,5.848932,12.239156,9.888821,23.126320,4.488518,b,3,1,20.105039,20.142859,15.143529,NaN
1_6,6,1,563,1,6.226329,10.424294,9.008361,19.567322,2.217571,b,2,1,18.958418,19.911081,16.285862,NaN
1_8,8,1,389,1,7.217990,12.511185,10.477781,27.503524,3.444671,b,3,2,21.904402,18.630012,17.021575,NaN
1_10,10,1,371,1,8.309122,7.685481,9.057778,16.862431,1.724354,b,1,2,23.961162,20.698375,20.719118,NaN
2_0,0,1,500,2,8.866331,13.544045,10.705604,19.690834,0.376296,b,2,1,22.304584,17.759053,7.079383,NaN
2_2,2,1,419,2,12.119411,8.065864,11.268401,22.222272,0.523106,a,3,2,21.884522,18.461503,12.132528,NaN
2_4,4,1,431,2,12.100397,7.282974,10.780238,25.173125,0.263327,b,2,2,18.977398,22.205710,14.506498,NaN
2_6,6,1,285,2,8.223755,13.712827,8.984823,21.493370,4.220111,a,3,2,18.858680,21.149282,16.752246,NaN
2_8,8,1,270,2,11.754654,9.092720,9.895437,24.032579,0.243337,c,2,2,20.541650,21.654447,21.906304,NaN
2_10,10,1,223,2,7.031882,12.248585,11.085272,21.014366,0.664961,b,3,2,19.600220,20.821413,26.133820,NaN
3_0,0,1,432,3,12.815281,10.162150,10.204547,22.073746,0.972639,b,2,1,20.053985,20.045106,9.507746,NaN
3_2,2,1,586,3,13.497770,12.829792,10.710467,18.685988,0.921931,a,3,2,19.521816,19.949302,8.928104,NaN
3_4,4,1,448,3,7.950156,13.502960,10.280259,22.197974,0.719793,c,2,1,18.976569,19.472012,14.532868,NaN
3_6,6,1,418,3,11.385301,8.615705,10.771428,20.278300,2.718118,b,1,2,18.612136,19.517373,19.963722,NaN
3_8,8,1,380,3,14.359742,7.809826,7.954509,21.405415,0.690863,b,1,1,21.044938,19.562861,18.229245,NaN
3_10,10,1,381,3,6.641074,11.704646,10.739746,19.358041,10.258021,b,1,1,17.342896,19.733379,20.202583,NaN
4_0,0,1,540,4,13.247486,10.214058,9.237953,18.091660,0.890664,b,1,1,16.852478,20.884662,7.945027,NaN
4_2,2,1,545,4,6.731068,7.933343,9.915480,25.893222,0.095831,b,1,1,19.843068,21.022734,13.792476,NaN
4_4,4,1,422,4,4.341101,13.562342,12.224987,25.221860,0.576677,b,2,1,20.762534,19.647078,14.701376,NaN
4_6,6,1,334,4,5.519028,7.808127,8.554297,19.621975,7.364916,c,3,2,20.363384,19.493805,19.053149,NaN
4_8,8,1,381,4,7.853057,11.216303,11.075558,23.220210,1.053558,a,2,2,16.913093,20.549479,20.709991,NaN
4_10,10,1,396,4,11.325152,9.868941,11.018732,19.915532,0.000777,b,2,2,19.727924,21.046087,23.568392,NaN
5_0,0,1,476,5,13.590487,6.125254,9.411941,15.445137,1.667046,b,2,1,18.756584,21.075867,11.263017,NaN
5_2,2,1,484,5,10.409888,14.323736,8.756995,19.927838,3.144363,b,1,1,17.887626,21.161201,10.865587,NaN
5_4,4,1,349,5,5.588965,5.916275,8.571341,17.810437,2.399522,c,1,2,19.439951,21.334224,16.398590,NaN
5_6,6,1,301,5,10.835180,12.008735,9.695838,21.791190,0.469749,a,3,1,26.946377,21.668830,16.538870,NaN
5_8,8,1,181,5,9.149515,10.787086,8.676587,17.556896,0.099620,b,3,1,19.527848,19.317101,19.173861,NaN
5_10,10,1,320,5,13.739262,12.083970,9.115960,23.848196,1.008325,b,2,2,20.219094,22.049069,22.870239,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109_0,0,3,595,109,15.789364,34.279362,9.907678,15.234254,2.952674,a,1,2,26.478477,22.254705,7.946815,16.587576
109_2,2,3,448,109,12.987361,32.581955,9.056272,16.012205,6.235467,a,3,2,23.156581,19.629994,13.105699,14.450409
109_4,4,3,297,109,16.614086,31.155648,11.660998,19.781525,3.080940,a,1,1,24.107941,24.052674,13.214662,15.692256
109_6,6,3,348,109,16.558518,25.945008,8.665363,20.296649,2.101769,a,2,1,24.824376,20.599632,15.344709,16.300307
109_8,8,3,487,109,15.945187,30.458357,10.218353,18.245563,7.032481,a,1,1,25.295665,22.486640,18.026565,16.395177
109_10,10,3,570,109,17.273305,32.893634,9.894550,25.174938,1.110836,a,1,2,24.629138,23.021224,17.563507,16.629231
110_0,0,3,410,110,15.291051,33.008458,9.598868,19.053387,12.604224,a,3,1,23.599081,21.305956,9.020324,16.262713
110_2,2,3,499,110,13.618950,31.080227,11.323379,15.204586,2.140829,a,2,1,23.605333,20.414355,12.725837,17.208050
110_4,4,3,507,110,14.432726,31.164711,10.445966,24.382610,1.226412,a,2,1,26.429857,22.854833,12.281535,15.417427
110_6,6,3,491,110,15.841836,28.211238,10.795973,20.170928,1.286049,a,1,2,26.184440,22.809736,17.237391,16.808492
110_8,8,3,478,110,17.714652,29.677394,9.922536,19.124283,1.217362,c,3,1,27.309792,22.261697,19.876250,14.450150
110_10,10,3,526,110,15.294606,30.364028,10.733405,20.557068,7.523387,a,3,1,23.366679,23.048219,19.711519,17.213283
111_0,0,3,388,111,17.692040,29.217240,10.305132,22.800603,1.720557,a,1,2,26.214922,21.940714,9.449519,15.572310
111_2,2,3,364,111,16.653617,28.455943,11.312194,25.262287,3.718026,a,1,2,22.663655,21.947816,10.846718,17.379142
111_4,4,3,392,111,14.734876,31.572519,10.042518,24.214890,12.082455,b,3,1,25.139764,21.696697,14.018661,15.263818
111_6,6,3,360,111,16.925663,31.389214,9.496038,18.731794,1.333419,a,3,1,26.267860,21.919886,15.487686,14.267201
111_8,8,3,341,111,17.666292,29.502976,9.536298,14.993254,13.016769,a,2,2,23.498309,23.206156,17.074725,15.737772
111_10,10,3,476,111,16.654543,30.775974,9.033607,19.575554,4.781487,a,2,1,24.778616,21.644485,20.107956,14.746177
112_0,0,3,464,112,17.999749,26.779737,10.192571,19.140455,6.940233,a,3,1,25.908681,20.757486,13.728497,14.795878
112_2,2,3,403,112,13.621788,29.626187,11.048444,20.884155,2.193551,a,2,1,27.575798,22.015949,12.717324,17.713525
112_4,4,3,428,112,15.029910,31.457995,9.628894,17.875225,1.236412,a,1,2,25.113280,22.014252,12.625593,17.965004
112_6,6,3,408,112,16.821679,27.185206,11.397469,22.909131,6.435712,a,3,1,23.156218,22.291571,16.315425,18.709385
112_8,8,3,426,112,19.061416,27.269763,9.723153,17.928045,8.007396,a,3,2,25.300806,22.000228,15.907568,16.938593
112_10,10,3,479,112,20.176643,31.297396,9.925034,12.382784,9.117344,a,3,2,26.762458,23.136050,18.464706,18.567777
113_0,0,3,523,113,15.434455,29.946399,11.536067,8.898463,1.560029,c,1,1,25.809603,22.097978,13.535921,18.295490
113_2,2,3,520,113,17.142540,29.341676,12.031408,14.912577,8.923996,a,3,1,23.721425,22.548712,12.925015,13.293187
113_4,4,3,432,113,16.511287,28.930090,10.427216,17.778832,5.389803,a,3,2,26.169282,22.871541,12.815796,14.324007
113_6,6,3,552,113,14.219327,30.666841,8.720913,13.903024,4.607799,c,3,1,25.803986,23.106983,17.261730,16.637095
113_8,8,3,640,113,15.029802,32.240342,10.901624,24.793466,0.376738,b,3,2,25.325462,21.709413,16.551550,16.040633
113_10,10,3,551,113,13.135847,29.905740,9.679341,19.821331,8.540052,a,2,2,26.170449,21.435382,20.329631,13.397689

In [11]:
pd.concat(datasets).to_csv("simulated.csv")